body
{
	font-family:SimSun;
	font-size: 12px;
	paddingt: 0px;
	margin: auto;
	color: #3D3D3D;
	 overflow-x:hidden;
}
.c
{
	clear: both;
}
ul
{
	list-style-type: none;
}
A
{
	color: #3d3d3d;
	text-decoration: none;
	behavior:url("sel-a.htc");
}
A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.indexBg
{
	background-image: url(../images/loginBg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}
A.TopText:link
{
	color: #ffffff;
	text-align: center;
}
A.TopText:visited
{
	color: #ffffff;
}
A.TopText:hover
{
	color: #FFD200;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

A.TopTextNum:link
{
	color: #FF0000;
	font-weight: bold;
}
A.TopTextNum:visited
{
	color: #FF0000;
	font-weight: bold;
}
A.TopTextNum:hover
{
	color: #FF0000;
	text-decoration: none;
}
.tools table,.tools table td
{
     border:none;
    }
.LeftMenu1
{
	background-image: url(../images/LeftMenuBg1.jpg);
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.LeftMenu2
{
	background-image: url(../images/LeftMenuBg2.jpg);
	background-repeat: no-repeat;
	color: #055588;
	font-size: 12px;
	font-weight: bold;
	padding-left: 35px;
}
A.LeftMenu2A:link
{
	color: #055588;
	font-weight: bold;
}
A.LeftMenu2A:visited
{
	color: #055588;
}
A.LeftMenu2A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.LeftMenu3
{
	background-image: url(../images/LeftMenuBg3.jpg);
	background-repeat: no-repeat;
	color: #055588;
	font-size: 12px;
	font-weight: bold;
	padding-left: 35px;
}
A.LeftMenu3A:link
{
	color: #055588;
	font-weight: bold;
}
A.LeftMenu3A:visited
{
	color: #055588;
}
A.LeftMenu3A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.LeftMenu4
{
	color: #055588;
	font-size: 12px;
	font-weight: bold;
	padding-left: 35px;
	background-color: #FFFFFF;
}
A.LeftMenu4A:link
{
	color: #055588;
	font-weight: bold;
}
A.LeftMenu4A:visited
{
	color: #055588;
}
A.LeftMenu4A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.LeftMenu5
{
	background-image: url(../images/LeftMenuBg6.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	color: #055588;
	font-size: 12px;
	padding-left: 85px;
	line-height: 12px;
}
A.LeftMenu5A:link
{
	color: #055588;
}
A.LeftMenu5A:visited
{
	color: #055588;
}
A.LeftMenu5A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.Center
{
	color: #055588;
	font-size: 12px;
}

.CenterMenu1
{
	background-image: url(../images/index_32.jpg);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 15px;
}
A.CenterMenu1A:link
{
	color: #055588;
}
A.CenterMenu1A:visited
{
	color: #055588;
}
A.CenterMenu1A:hover
{
	color: #FF0000;
	text-decoration: none;
}

.RightTop1Bg
{
	background-image: url(../images/RightTopBg2.jpg);
	background-repeat: repeat-x;
	color: #055588;
	font-size: 12px;
	padding-left: 8px;
	line-height: 30px;
}
.RightTopnav
{
	width: 101px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	float: left;
	background: url(../images/RightTopBg1.jpg) center no-repeat;
	color: #055588;
}
.CurrTopNav
{
	background: url(../images/RightTopBg1s.jpg) no-repeat center;
	color: #FF0000;
	text-decoration: none;	
	
}

A.RightTopnav:hover
{
	background: url(../images/RightTopBg1s.jpg) no-repeat center;
	color: #FF0000;
	text-decoration: none;
}

.indexCenterBg
{
	background-image: url(../images/CenterBg.gif);
	background-repeat: repeat-y;
	background-position: left center;
}



/*********************
	HTML Elements
*********************/

images, div,a { behavior: url(css/iepngfix.htc) }
body{
	font-size: 12px;	
}
a, a:visited{
	text-decoration:none;
}
images{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
h2{

}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	margin-left:auto;
	margin-right:auto;
}
#header{
	width:960px;
}
#header h2{
margin-top:20px;
}
#content{
	
	width:auto;
}
#sidebar{
	background:#FFF;
	width:170px;
	float:right;
	margin: 0 0 10px 0;
	padding:10px;
}
#footer{
	clear:both;
	padding:5px;
	margin-top:10px;
}
#box h3{
	padding:5px;
	font-size:14px;
}
/*********************
	Sidebar
*********************/
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:none;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}
/*********************
  TopMenu, Top-Panel
*********************/
#topmenu{
	margin-top:35px;
	width:700px;
	float:left;
	voice-family:inherit;
	margin-left:170px;
	
}
#topmenu ul{
	list-style:none;
	line-height:25px;
}
#topmenu li{
	display:inline;
}
#topmenu a,#topmenu a:visited{
	padding:5px 12px 5px 12px;
	text-decoration:none;
	margin: 0 3px;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:5px 12px 5px 12px;
	font-weight:bold;
	margin:0;
	
}
#top-panel{
	background:#FFF;
	padding:5px;
	height:20px;
	float:left;	
	width:100%;
	margin-right:10px;	
}
#top-panel ul{
	list-style:none;
}
#top-panel ul li{
	display:inline;
	line-height:20px;
}
#top-panel ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
#top-panel a:hover{
	text-decoration:none;
}
.top-panel{
	background:#FFF;
	padding:5px;
	height:20px;
	float:left;
	width:950px;
}
.top-panel ul,.topbar ul{
	list-style:none;
}
.top-panel ul li,.topbar ul li{
	display:inline;
	line-height:20px;
}
.top-panel ul li a,.topbar ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
.top-panel a:hover,.topbar a:hover{
	text-decoration:none;
}
/*********************
		Other
*********************/
.a-right{text-align:right;}
.a-left{text-align:left;}
.a-center{text-align:center;}
#pager{
	margin:5px;
	height:25px;
}
#styleswitcher
{
	padding-left:15px;
	float:left;
}
#styleswitcher ul{
	list-style:none;
	line-height:10px;
}
#styleswitcher li{
	height:12px;
	display:inline;
}
#footer ul {
	list-style:none;
}
#footer li {
	display:inline;
}
a#defswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#bd3f09;
	font-size: 8px;
	color:#bd3f09;
	display:inline-block;
}
a#blueswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#375b91;
	font-size: 8px;
	color:#375b91;
	display:inline-block;
}
a#greenswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#d0e0b8;
	font-size: 8px;
	color:#d0e0b8;
	display:inline-block;
}
a#brownswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#654322;
	font-size: 8px;
	color:#654322;
	display:inline-block;
}
a#mixswitch {
	width:15px;
	height:10px;
	margin: 3px 0 3px 0;
	background-color:#294145;
	font-size: 8px;
	color:#294145;
	display:inline-block;
}
#credits{
clear:both;
	width:200px;
	float:left;
}
/*********************
		Tables
*********************/
.fixedgrid tr td
{
	padding:3px 5px 4px 5px;	
}
.fixedgrid tr th
{
	padding:3px 5px 4px 5px;	
}
.SysTd
{
 text-align:right;
 	
}
td, th{
	 font-size:12px;
	
} 
th
{
	height:24px;
	color:#194264;
}
thead{

}

.noborder
{
	border:none;	
}
.noborder td
{
	border:none;		
}
#dhead table tr th
{	
	height:25px;		
	border-top:none;	
	border-bottom:none;	
}

#dbody table tr td
{	
	height:25px;
	font-size:12px;
	position:relative;
}
#dbody table tr td div,#dhead table tr th div
{		
	padding:0 1px;
}
/*********************
		Home
*********************/
#infowrap li{
	display:inline:
}
#infobox{
	width:365px;
	float:left;
	
}
#infobox div.tools,.zTreeDemoBackground div.tools,#content div.tools{
	padding:5px 0 0 5px;
	font-size:14px;
	height:32px;
	 line-height:28px;
}
#infobox div.tools a,.zTreeDemoBackground div.tools a,#content div.tools a{

	font-size:12px;	
}
.margin-left{
	margin-left:5px;
}
#rightnow .reallynow {
	padding: 5px;
	font-size:14px;
}
#rightnow h3{
	padding:2px;
	padding: 0 10px;
	font-size:14px;
}
#rightnow .reallynow span {
	display: block;
	text-align: left;
	float: left;
	padding:0 2px;
	font-size:14px
}
#rightnow .reallynow a {
	text-decoration:none;
	display: block;
	text-align: right;
	float: right;
	padding:0 0 0 18px;
	margin-left:4px;
	font-weight:normal;
	font-size:12px;
}
#rightnow .reallynow a:hover{
	text-decoration:none;
}
#rightnow .youhave {
	font-size:  12px;
	padding: 10px;
}
#rightnow a {
	font-weight: bold;
}
/*********************
		Forms
*********************/
form{
	padding:0px;
	margin:0 auto;
}
 fieldset {
	display:block;
	padding:5px 0 5px 8px;
	line-height:20px;
	margin-bottom:10px;
}
 legend {
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px 10px;	
}
 label {
	clear:left;
	display:block;
	float:left;
	
	
	padding-right:10px;
	margin:6px 0;
}
input {
	padding:2px;	
	margin:5px;
	*padding:2px;	
	*margin:2px;
}
#table_list input[type='checkbox']
{
	padding:0;	
}
 select {
	margin-left:5px;
}
 textarea {
	width:410px;
	height:200px;
	padding:2px;
	overflow:auto;
	margin:5px;
	font-size:13px;
}
 option {
	background:#FFF;
}
 optgroup option {

}
 #button1,  #button2 {
	padding-right:5px;
	cursor:pointer;
	width:205px;
	margin-left:8px;
	font-weight:bold;
}
 #button1:hover,  #button2:hover {
	background-position:center left;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12x;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
.user{background:transparent url(../images/icons/user.png) no-repeat left;}
.useradd{background:transparent url(../images/icons/user_add.png) no-repeat left;}
.group{background:transparent url(../images/icons/group.png) no-repeat left;}
.search{background:transparent url(../images/icons/magnifier.png) no-repeat left;}
.online{background:transparent url(../images/icons/world.png) no-repeat left;}
.pagenew{background:transparent url(../images/icons/page_add.png) no-repeat left;}
.rss{background:transparent url(../images/icons/rss.png) no-repeat left;}
.feed{background:transparent url(../images/icons/feed.png) no-repeat left;}
.report{background:transparent url(../images/icons/report.png) no-repeat left;}
.house{background:transparent url(../images/icons/house.png) no-repeat left;}
.manage{background:transparent url(../images/icons/cog.png) no-repeat left;}
.manage_page{background:transparent url(../images/icons/page_gear.png) no-repeat left;}
.folder{background:transparent url(../images/icons/folder.png) no-repeat left;}
.promotions{background:transparent url(../images/icons/coins.png) no-repeat left;}
.cart{background:transparent url(../images/icons/cart.png) no-repeat left;}
.folder_table{background:transparent url(../images/icons/folder_page.png) no-repeat left;}
.shipping{background:transparent url(../images/icons/car.png) no-repeat left;}
.invoices{background:transparent url(../images/icons/page_white_text_width.png) no-repeat left;}
.addorder{background:transparent url(../images/icons/folder_page_add.png) no-repeat left;}
.add{background:transparent url(../images/icons/add.png) no-repeat left;}
.app_add{background:transparent url(../images/icons/application_add.png) no-repeat left;}
.report_seo{background:transparent url(../images/icons/report_link.png) no-repeat left;}
.modules{background:transparent url(../images/icons/bricks.png) no-repeat left;}
.modules_manage{background:transparent url(../images/icons/bricks_gear.png) no-repeat left;}
.report1{background:transparent url(../images/icons/tj.gif) no-repeat left;}
.report2{background:transparent url(../images/icons/xj.gif) no-repeat left;}
.edit{background:transparent url(../images/icons/page_white_edit.png) no-repeat left;}
.del{background:transparent url(../images/icons/page_white_delete.png) no-repeat left;}
.report5{background:transparent url(../images/icons/sj.gif) no-repeat left;}
.sx{background:transparent url(../images/icons/sx.png) no-repeat left;}
.xj1{background:transparent url(../images/icons/xj.gif) no-repeat left; width:16px; height:16px;  font-style:normal;}
.save{background:transparent url(../images/icons/save.gif) no-repeat left;}
.Cancel{background:transparent url(../images/icons/Cancel.gif) no-repeat left;}
.excel{background:transparent url(../images/icons/excel.gif) no-repeat left;}
.renzheng{background:transparent url(../images/icons/shenhe.gif) no-repeat left;}

.print{background:transparent url(../images/icons/print.gif) no-repeat left;}
.lab60
{
	width:60px;	
}
.lab80
{
	width:84px; 
}
.inp100
{
	width: 140px;
}
.inp220
{
	width: 220px;
}
/*************** 弹出层*/
.current_element
{
	 cursor:move;
}
.infobox{				
	position: absolute;
	z-index: 99999;
}
.infobox .tit{
	padding:5px;
	font-size:14px;
    color: #294145;
    font-weight:bold;
    position:relative;
}
.infobox .close
{
	background-image: url("../images/CloseXX.gif");
    float: right;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 16px;
    cursor:pointer;
}
/**************************/
.MessageTS  /*页面提示消息样式*/
{
	color:Red; 
    border:solid 1px #fb9b04;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffdd, EndColorStr=#fcfc02,opacity=90);
}
/************************/
/*************************** topbar **************/
.topbar
{
	left: 0;   
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.topbar ul{
	list-style:none;
}
.topbar ul li{
	display:inline;
	line-height:20px;
}
.topbar ul li a{
	padding-left:19px;
	text-decoration:none;
	margin:0 3px;
	display:inline-block;
}
.topbar a:hover{
	text-decoration:none;
}
/*************************************/
.alitab
{	
	width:100%;
}
.alitab tr td input
{
	
	width:94%;
	margin-left:0;
	margin-right:0;
	}
.edit_txt
{
	border:0;	
	position:relative; 
	background-color:#E2F7FF; 
	font-size:9pt; 
	line-height:24px;	
	z-index:8888;
	padding:0px;
	margin:0px;
	float:left;
	height:23px;
	margin-left:1px;
}
#span1
{	
	width:18px;
	height:18px;
	display:block;
	z-index:9999;
	position:absolute;
	right:0;
	top:0
	float:right;
	}
#span1 a
{
	width:18px;
	height:18px;
	display:block;
	background:url(../images/R.axd.gif) 0 0;
	background-repeat:no-repeat;	
	z-index:805;
	position:absolute; 
	
}
#span1 a:hover
{
	width:18px;
	height:18px;
	display:block;
	background:url(../images/R.axd.gif) 0 -19px;
	background-repeat:no-repeat;	
	z-index:805;
	position:absolute; 
}
	
.fenye a, .fenye a:visited{
	color:#7c7c7c;
	text-decoration:none;
}